@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  margin: 0;
  color: var(--color-black);
  background-color: var(--color-white);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}


/* Colors */

:root {
  --color-black: #333333;
  --color-white: #fbfbfb;
  --color-gray: #a4a4a4;
  --color-gray-light: #f2f2f2;
}


/* Styles */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  padding: 20px;
  margin: 0 auto;
}

.container {
  height: 100%;
  width: 100%;
  text-align: center;
}

.container:first-child {
  margin-bottom: 2em;
}

.container > ul > li {
  margin-bottom: 10px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  height: 60px;
  border: 1px solid var(--color-black);
  border-radius: 10px;
  padding: 10px 20px;
}

.btn-container {
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
}

.btn-container > button {
  height: 100%;
  width: 100%;
  font-size: 24px;
  color: var(--color-gray);
}

.btn-container > button:hover {
  color: var(--color-black)
}

.todo-form {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.todo-form > input {
  border: none;
  background-color: var(--color-gray-light);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 7px 14px;
  width: 90%;
}

.todo-form > input:focus {
  outline: none;
}